<div *ngIf="currentUpload">
    <div class="progress">
      <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
    </div>
    Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
  </div>
  
      <label>
         <input type="file" (change)="detectFiles($event)">
      </label>
  
      <button
              [disabled]="!selectedFiles"
              (click)="uploadSingle()">
  
        Upload Single
      </button>
  
      <label>
         <input type="file" (change)="detectFiles($event)" multiple>
      </label>
  
        <button
                [disabled]="!selectedFiles"
                (click)="uploadMulti()">
  
          Upload Multiple
        </button>

        <hr><hr>
        <div class="dropzone" 
        dropZone
        (hovered)="toggleHover($event)"
        (dropped)="startUpload($event)"
        [class.hovering]="isHovering">
   
   
   
        <h3>AngularFire Drop Zone</h3>
   
        <div class="file">
           <label class="file-label">
   
   
           <input class="file-input" type="file" (change)="startUpload($event.target.files)">
   
   
             <span class="file-cta">
               <span class="file-icon">
                 <i class="fa fa-upload"></i>
               </span>
               <span class="file-label">
                 or choose a file…
               </span>
             </span>
           </label>
         </div>
   </div>


 